/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fugaz+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* variables for website colours  */
:root {
    --main-colour: #420f2a;
    --intro-colour: #1b1f2e;
    --void-colour: #642133;
    --lake-colour: #19406a;
    --forest-colour: #1c5d55;
    --library-colour: #a7130c;
    --ending-colour: #FDD788;
    --chapter-text: white;
    --ending-text: black;
    --base-colour: #FBF7F0;
    --main-text: 'Josefin Sans';
    --sub-headings: 'Alegreya Sans';
}

/* Global styles */

body {
    color: white;
    background-color: var(--base-colour);
    background-image: url(../images/paper.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--main-text), sans-serif;

}

header {
    border-bottom: 2px solid black;
}

footer {
    border-top: 2px solid black;
    background-color: var(--main-colour);
}

/* Mark styling attributed to https://www.abeautifulsite.net/posts/a-clever-way-to-style-the-mark-element/ */
mark {
    background-color: transparent;
    color: white;
}

.mark-on {
    background-color: white;
    color: var(--main-colour);
    border-radius: 1em 0;
    padding: .3rem;
    font-weight: bold;
}

/* Common styling for all buttons */

button {
    border-radius: 8px;
    font-weight: bolder;
    margin: 10px 10px 15px 10px;
    padding: 8px;
}

/* Navbar styling */
.navbar {
    border: solid 1px white;
    background-color: var(--main-colour);
}

.navbar-toggler-icon {
    border-radius: 5px;
}

.navbar-brand,
.navbar-toggler-icon,
.navbar {
    color: white;
}

/* Font styling of the H1 in the nav-brand area */
.navbar-brand h1 {
    margin-bottom: 0;
    font-family: 'Fugaz One', sans-serif;
    font-size: 3rem;
}

.navbar-toggler,
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    color: white;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid var(--main-colour);
}

.navbar .nav-link:hover {
    background-color: white;
    border-radius: 8px;
    color: var(--main-colour);
    transition: all 1.2s ease-in-out;
}

.navbar .nav-link.active {
    background-color: var(--main-colour);
    color: white;
    border: 1px dotted white;
}

.navbar .nav-link.active:hover {
    background-color: white;
    border-radius: 8px;
    color: var(--main-colour);
    font-weight: bold;
    transition: all 1.2s ease-in-out;
    border: 1px solid white
}

/* Styling for the main three content elements */

.title-styling {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 8px;
    font-family: var(--sub-headings);
}

.col-styling {
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 8px 8px black;
    background-color: var(--main-colour);
}

/* Text styling */

#story-text,
#about-text {
    padding: 0px 15px 5px 15px;
    margin-bottom: auto;
    line-height: 1.7
}

#story-text p:last-child {
    margin-bottom: 20px;
}


#footer-text {
    font-size: 1.3rem;
    margin-top: 1rem;
}

/* Colour styling for around the image and text column elements */
#story-image,
#about-image {
    border: 1px solid white;
    border-radius: 8px 8px;
    height: auto;
    width: 100%;
}

#about-image {
    box-shadow: 8px 8px var(--main-colour);
}

#story-image.chapter-welcome {
    box-shadow: 8px 8px var(--main-colour);
}

#story-image.chapter-intro {
    box-shadow: 8px 8px var(--intro-colour);
}

#story-image.chapter-void {
    box-shadow: 8px 8px var(--void-colour);
}

#story-image.chapter-forest {
    box-shadow: 8px 8px var(--forest-colour);
}

#story-image.chapter-library {
    box-shadow: 8px 8px var(--library-colour);
}

#story-image.chapter-lake {
    box-shadow: 8px 8px var(--lake-colour);
}

#story-image.chapter-ending1 {
    box-shadow: 8px 8px black;
}

#story-image.chapter-ending2 {
    box-shadow: 8px 8px black;
}

/* Chapter specific colours and styling for the text and slots */
#text-col.chapter-welcome {
    background-color: var(--main-colour);
}

#text-col.chapter-intro,
.slot.chapter-intro {
    background-color: var(--intro-colour);
}

#text-col.chapter-void,
.slot.chapter-void {
    background-color: var(--void-colour);
}

#text-col.chapter-forest,
.slot.chapter-forest {
    background-color: var(--forest-colour);
}

#text-col.chapter-library,
.slot.chapter-library {
    background-color: var(--library-colour);
}

#text-col.chapter-lake,
.slot.chapter-lake {
    background-color: var(--lake-colour);
}

#text-col.chapter-ending1 {
    background-color: var(--ending-colour);
    color: var(--ending-text);
}

#text-col.chapter-ending2 {
    background-color: var(--ending-colour);
    color: var(--ending-text);
}

.slot.wrong-answer {
    background-color: red;
    color: white;
    animation: tilt-shaking 0.35s infinite;
}

/* Shaking animation attributed to https://unused-css.com/blog/css-shake-animation/ */
@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Styling for the elements in the puzzle area */
/* Div that contains the tiles */
#puzzle-question {
    height: 100px;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
}

/* Div that contains the empty slots */
#puzzle-answer {
    height: 100px;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
}

/* Slot and tile styling, including hover effects */
.slot,
.tile {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

.slot {
    border: 1px solid black;
    color: white;
}

.tile {
    border: 1px solid black;
    color: black;
    background-color: var(--base-colour);
}

.tile:hover,
.slot:hover {
    transform: scale(1.1);
    border: 2px solid green;
}

/* Button styling */
.button-styling {
    border: 1px solid var(--main-colour);
    background-color: white;
    color: var(--main-colour);
}

#check,
#reset-button {
    border: 1px solid white;
    background-color: var(--main-colour);
    color: white;
}

#check:hover {
    background-color: rgb(0, 128, 0);
    color: white;
    border: 1px solid black;
}

#reset-button:hover {
    background-color: red;
    color: white;
    border: 1px solid black;
}

#get-puzzle,
#try-again,
#get-hint,
#check,
#reset-button,
#choice-1,
#choice-2,
#choice-3,
#end-choice {
    display: none;
}

#get-puzzle:hover,
#try-again:hover,
#get-hint:hover,
#start-game:hover,
#choice-1:hover,
#choice-2:hover,
#choice-3:hover,
#end-choice:hover {
    transform: scale(1.1);
    background-color: white;
    box-shadow: 0 0 8px #0ebac5;
    transition: transform 1s ease;
}

/* Styling for the collected words list */
#collected-words {
    padding-left: 0;
    font-size: 0.8rem;
    list-style: none;
}

#collected-words li:nth-child(even) {
    padding-bottom: 10px;
}

#collected-words li:nth-child(odd) {
    font-weight: bold;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .words .word {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);  /* Start with a small downward movement */
    animation: fadeInUp 0.5s ease forwards;
    animation-delay: calc(var(--word-index) * 0.1s); /* Delay each word */
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Styling for the socials bar on the about page */
#socials {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    font-size: 2.5rem;
    padding-left: 0;
}

#socials > li {
    border-radius: 8px;
    padding-top: 10px;
}

.fa-brands {
    color: white
}

.fa-brands:hover {
    color: var(--main-colour);
    background-color: white;
    border-radius: 8px;
    transition: all 1.2s ease-in-out;
}

/* Responsive media queries for phones 320px and above */
@media screen and (min-width:320px) {

    #footer-text {
        font-size: 1rem;
    }

    .navbar-brand {
        justify-content: center;
    }

    .navbar-brand h1 {
        font-size: 1.6rem;
    }

    .navbar-toggler {
        padding-right: 0;
    }

    .nav-link {
        font-size: 1rem;
    }

    #story-image,
    #word-inventory-col,
    #text-col {
        margin-bottom: 10px;
    }

    #story-text {
        font-size: 1.1rem;
    }

    #word-inventory-col {
        display: none;
    }

    .tile,
    .slot {
        height: 30px;
        width: 100%;
        font-size: 1.3rem;
    }

    #puzzle-question,
    #puzzle-answer {
        height: 50px;
    }
}

/* Responsive media queries for tablets 768px and above */
@media screen and (min-width:768px) {

    .navbar-nav {
        width: 80%;
    }

    .navbar-brand h1 {
        padding-left: 20px;
        font-size: 3rem;
    }

    #story-text,
    #about-text {
        font-size: 1.2rem;
        padding: 0 25px;
    }

    #puzzle-question,
    #puzzle-answer {
        height: 100px;
    }

    #title {
        margin-bottom: 12px;
    }

    #words-title {
        margin-bottom: 16px;
    }

    #word-inventory-col {
        display: block;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 32px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }

    .tile,
    .slot {
        height: 60px;
        width: 60px;
        padding-top: 1rem;
    }
}

/* Responsive media query for screens 900px and above */
@media screen and (min-width:900px) {
    #collected-words {
        font-size: 1.1rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 35px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }
}

/* Responsive media query for screens 1024px and above */
@media screen and (min-width:1024px) {

    #main-container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    #words-title {
        margin-bottom: 18px;
        font-size: 2.2rem;
    }

    #title {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    #story-text {
        font-size: 1.3rem;
        padding: 0 30px;
    }

    #about-text {
        font-size: 1.1rem;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }

    button {
        font-size: 1.1rem;
    }
}

/* Responsive media queries for laptops 1200px and above */
@media screen and (min-width:1200px) {
    mark {
        padding: 0.4rem;
    }

    #main-container {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }

    #story-text,
    #about-text {
        font-size: 1.4rem;
    }

    #words-title {
        margin-bottom: 20px;
    }

    #collected-words {
        font-size: 1.3rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 45px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }
}

/* Responsive media queries for laptops 1400px and above */
@media screen and (min-width:1400px) {

    #main-container {
        max-width: 1350px;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        font-size: 1.3rem;
    }

    .navbar-brand h1 {
        font-size: 3.5rem;
    }

    .navbar-nav {
        width: 60%;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    #story-image {
        max-width: 800px;
    }

    #about-image {
        max-width: 900px;
    }

    #title,
    #words-title {
        font-size: 3rem;
    }

    #title {
        margin-bottom: 8px;
    }

    #words-title {
        margin-bottom: 20px;
    }

    #about-title {
        margin-bottom: 10px;
    }

    #story-text {
        font-size: 1.5rem;
        padding: 0 30px;
    }

    #about-text {
        font-size: 1.2rem;
    }

    #story-text p {
        margin-bottom: 10px;
    }

    #get-puzzle {
        margin-top: 0;
    }

    .slot,
    .tile {
        margin: 10px;
        font-size: 2.2rem;
        height: 60px;
        padding: 8px;
    }

    #collected-words {
        font-size: 1.4rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 36px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }
}

/* Responsive media query for screens 1900px and up */

@media screen and (min-width:1900px) {
    mark {
        padding: 0.5rem;
    }

    button {
        font-size: 1.4rem;
    }

    #main-container {
        max-width: 1550px;
        margin-left: auto;
        margin-right: auto;
    }

    #story-image {
        max-width: 940px;
    }

    #title {
        margin-bottom: 15px;
    }

    #title,
    #story-title {
        font-size: 3.rem;
    }

    #story-text {
        font-size: 1.7rem;
        padding: 0 40px;
    }

    #story-text p {
        margin-bottom: 15px;
    }

    #collected-words {
        font-size: 1.7rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 40px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }
}

/* Media query for screens sized 2650px and up */
@media screen and (min-width:2560px) {
    button {
        font-size: 2.4rem;
        margin: 25px 25px;
        padding: 15px;
    }

    mark {
        padding: 0.8rem;
    }

    #main-container {
        max-width: 2400px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-nav {
        width: 50%;
    }

    .navbar-brand h1 {
        font-size: 5.5rem;
    }


    .nav-link {
        font-size: 2.5rem;
    }

    #story-image,
    #about-image {
        max-width: 1500px;
    }

    #title,
    #words-title,
    #about-title {
        font-size: 4.6rem;
        margin-bottom: 25px;
        padding-top: 25px
    }

    #words-title {
        margin-bottom: 50px;
    }

    #story-text {
        font-size: 2.6rem;
    }

    #story-text p {
        margin-bottom: 30px;
    }

    #story-text p:last-child {
        margin-bottom: 30px;
    }

    #about-text {
        font-size: 2.2rem;
    }

    #puzzle-answer,
    #puzzle-question {
        margin-top: 40px;
    }

    #puzzle-question {
        margin-bottom: 60px;
    }

    .slot,
    .tile {
        margin: 20px;
        font-size: 3.8rem;
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    #buttons {
        padding: 25px;
    }

    #collected-words {
        font-size: 2.6rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 80px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }

    #socials {
        font-size: 3.7rem;
    }

    #footer-text {
        font-size: 1.9rem;
    }
}