/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fugaz+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* variables for website colours  */
:root {
    --main-colour: #420f2a;
    --intro-colour: #1b1f2e;
    --void-colour: #642133;
    --lake-colour: #19406a;
    --forest-colour: #1c5d55;
    --library-colour: #a7130c;
    --ending-colour: #FDD788;
    --chapter-text: white;
    --ending-text: black;
    --base-colour: #FBF7F0;
    --main-text: 'Josefin Sans';
    --sub-headings: 'Alegreya Sans';
}

/* Global styles */

/* Background image applied to the body, with a fallback colour in case it doesn't load */
body {
    color: white;
    background-color: var(--base-colour);
    background-image: url(../images/paper.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--main-text), sans-serif;
}

header {
    border-bottom: 2px solid black;
}

footer {
    border-top: 2px solid black;
    background-color: var(--main-colour);
}

/* Common styling for all buttons so they match the overall graphical scheme */
button {
    border-radius: 8px;
    font-weight: bolder;
    margin: 10px 10px 15px 10px;
    padding: 8px;
}

/* Colour applied to links so they meet accessibility guidelines on colour */
a {
    color: white;
}

/* Styling to make the mark transparent around clues - used just to compile marked words into a nodelist. Padding added to stop text from moving around when padding is added via the mark-on class */
mark {
    background-color: transparent;
    color: white;
    padding: .3rem;
}

/* Navbar styling */
.navbar {
    border: solid 1px white;
    background-color: var(--main-colour);
}

/* Font styling of the H1 in the nav-brand area */
.navbar-brand h1 {
    margin-bottom: 0;
    font-family: 'Fugaz One', sans-serif;
    font-size: 3rem;
}

.navbar-toggler-icon {
    border-radius: 5px;
}

.navbar-brand,
.navbar-toggler-icon,
.navbar {
    color: white;
}

.navbar-toggler,
.navbar-toggler:focus {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.nav-item {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
}

.nav-link {
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid var(--main-colour);
}

/* Nav link hover and active effects and styles */
.navbar .nav-link:hover {
    background-color: white;
    border-radius: 8px;
    color: var(--main-colour);
    -webkit-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}

.navbar .nav-link.active {
    background-color: var(--main-colour);
    color: white;
    border: 1px dotted white;
}

.navbar .nav-link.active:hover {
    background-color: white;
    border-radius: 8px;
    color: var(--main-colour);
    font-weight: bold;
    -webkit-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}

/* Styling for titles and columns */
.title-styling {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 8px;
    font-family: var(--sub-headings);
}

.col-styling {
    border: 1px solid white;
    border-radius: 8px;
    -webkit-box-shadow: 8px 8px black;
            box-shadow: 8px 8px black;
    background-color: var(--main-colour);
}

/* Text styling */
#story-text,
#about-text {
    padding: 0px 15px 5px 15px;
    margin-bottom: auto;
    line-height: 1.7
}

/* Removes an unwanted space after the last paragraph in the story-text div */
#story-text p:last-child {
    margin-bottom: 20px;
}


#footer-text {
    font-size: 1.3rem;
    margin-top: 1rem;
}

/* Image styling */
#story-image,
#about-image {
    border: 1px solid white;
    border-radius: 8px 8px;
    height: auto;
    width: 100%;
}

/* Chapter-specific colours and styling around the image elements */
#about-image {
    -webkit-box-shadow: 8px 8px var(--main-colour);
            box-shadow: 8px 8px var(--main-colour);
}

#story-image.chapter-welcome {
    -webkit-box-shadow: 8px 8px var(--main-colour);
            box-shadow: 8px 8px var(--main-colour);
}

#story-image.chapter-intro {
    -webkit-box-shadow: 8px 8px var(--intro-colour);
            box-shadow: 8px 8px var(--intro-colour);
}

#story-image.chapter-void {
    -webkit-box-shadow: 8px 8px var(--void-colour);
            box-shadow: 8px 8px var(--void-colour);
}

#story-image.chapter-forest {
    -webkit-box-shadow: 8px 8px var(--forest-colour);
            box-shadow: 8px 8px var(--forest-colour);
}

#story-image.chapter-library {
    -webkit-box-shadow: 8px 8px var(--library-colour);
            box-shadow: 8px 8px var(--library-colour);
}

#story-image.chapter-lake {
    -webkit-box-shadow: 8px 8px var(--lake-colour);
            box-shadow: 8px 8px var(--lake-colour);
}

#story-image.chapter-ending1 {
    -webkit-box-shadow: 8px 8px black;
            box-shadow: 8px 8px black;
}

#story-image.chapter-ending2 {
    -webkit-box-shadow: 8px 8px black;
            box-shadow: 8px 8px black;
}

/* Chapter specific colours and styling for the story-text's outer column and matches up the puzzle slots */
#text-col.chapter-welcome {
    background-color: var(--main-colour);
}

#text-col.chapter-intro,
.slot.chapter-intro {
    background-color: var(--intro-colour);
}

#text-col.chapter-void,
.slot.chapter-void {
    background-color: var(--void-colour);
}

#text-col.chapter-forest,
.slot.chapter-forest {
    background-color: var(--forest-colour);
}

#text-col.chapter-library,
.slot.chapter-library {
    background-color: var(--library-colour);
}

#text-col.chapter-lake,
.slot.chapter-lake {
    background-color: var(--lake-colour);
}

#text-col.chapter-ending1 {
    background-color: var(--ending-colour);
    color: var(--ending-text);
}

#text-col.chapter-ending2 {
    background-color: var(--ending-colour);
    color: var(--ending-text);
}

/* Class added to slots when either the answer is wrong, or all slots haven't been filled. Applies an animation too. */
.slot.wrong-answer {
    background-color: red;
    color: white;
    -webkit-animation: tilt-shaking 0.35s infinite;
            animation: tilt-shaking 0.35s infinite;
}

/* Shaking animation attributed to https://unused-css.com/blog/css-shake-animation/ */
@-webkit-keyframes tilt-shaking {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
@keyframes tilt-shaking {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(5deg);
                transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

/* Class that's toggled on and off by the Get Hint button */
.mark-on {
    background-color: white;
    color: var(--main-colour);
    border-radius: 1em 0;
    padding: .3rem;
}

/* Styling for the elements in the puzzle area */
/* Div that contains the tiles */
#puzzle-question {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Div that contains the empty slots */
#puzzle-answer {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
}

/* Slot and tile styling, including hover effects */
.slot,
.tile {
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
}

.slot {
    border: 1px solid black;
    color: white;
}

.tile {
    border: 1px solid black;
    color: black;
    background-color: var(--base-colour);
}

.tile:hover,
.slot:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    border: 2px solid green;
}

/* Button styling */
.button-styling {
    border: 1px solid var(--main-colour);
    background-color: white;
    color: var(--main-colour);
}

#check,
#reset-button {
    border: 1px solid white;
    background-color: var(--main-colour);
    color: white;
}

#check:hover {
    background-color: rgb(0, 128, 0);
    color: white;
    border: 1px solid black;
}

#reset-button:hover {
    background-color: red;
    color: white;
    border: 1px solid black;
}

/* Hides all the listed buttons at the start of the game. Display dynamically changed using JS */
#get-puzzle,
#try-again,
#get-hint,
#choice-1,
#choice-2,
#choice-3,
#end-choice {
    display: none;
}

/* Visibility toggled on these buttons to stop layout shifts on mobile */
#check,
#reset-button {
    visibility: hidden;
}

/* Hover effects applied to all buttons except for check and reset */
#get-puzzle:hover,
#try-again:hover,
#get-hint:hover,
#start-game:hover,
#choice-1:hover,
#choice-2:hover,
#choice-3:hover,
#end-choice:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    background-color: white;
    -webkit-box-shadow: 0 0 8px #0ebac5;
            box-shadow: 0 0 8px #0ebac5;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

/* Styling for the collected words list */
#collected-words {
    padding-left: 0;
    font-size: 0.8rem;
    list-style: none;
}

/* Padding applied to every even list item, so that each word and its number of attempts are grouped together, with space between each set */
#collected-words li:nth-child(even) {
    padding-bottom: 10px;
}

/* Font-weight applied to every odd item, as every odd list item is the actual word itself */
#collected-words li:nth-child(odd) {
    font-weight: bold;
}

/* Styling for the socials bar on the about page */
#socials {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 0;
    font-size: 2.5rem;
    padding-left: 0;
}

#socials>li {
    border-radius: 8px;
    padding-top: 10px;
}

.fa-brands {
    color: white;
    border-radius: 8px;
    padding: 5px;
}

.fa-brands:hover {
    color: var(--main-colour);
    background-color: white;
    border-radius: 8px;
    -webkit-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    padding: 5px;
}

/* Styling for the external link icon next to hyperlinks */
.fa-external-link {
    font-size: 0.8rem;
}

/* Inverted hover colours for link on the about page */
#about-text a:hover {
    background-color: white;
    color: var(--main-colour);
}

/* Responsive media queries for phones 320px and above */
@media screen and (min-width:320px) {

    #footer-text {
        font-size: 1rem;
    }

    .navbar-brand {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .navbar-brand h1 {
        font-size: 1.6rem;
    }

    .navbar-toggler {
        padding-right: 0;
    }

    .nav-link {
        font-size: 1rem;
    }

    #story-image,
    #word-inventory-col,
    #text-col {
        margin-bottom: 10px;
    }

    #story-text {
        font-size: 1.1rem;
    }

    #word-inventory-col {
        display: none;
    }

    .tile,
    .slot {
        height: 30px;
        width: 100%;
        font-size: 1.3rem;
    }

    #puzzle-question,
    #puzzle-answer {
        height: 50px;
    }

    #socials {
        font-size: 1.8rem;
    }
}

/* Responsive media queries for tablets 768px and above */
@media screen and (min-width:768px) {
    .navbar-nav {
        width: 80%;
    }

    .navbar-brand h1 {
        padding-left: 20px;
        font-size: 3rem;
    }

    #story-text,
    #about-text {
        font-size: 1.2rem;
        padding: 0 25px;
    }

    #puzzle-question,
    #puzzle-answer {
        height: 100px;
    }

    #title {
        margin-bottom: 12px;
    }

    #words-title {
        margin-bottom: 16px;
    }

    #word-inventory-col {
        display: block;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 32px;
    }

    /* Padding removed from the bottom of the last list item in the collected-words list, for better spacing */
    #collected-words li:last-child {
        padding-bottom: 0;
    }

    .tile,
    .slot {
        height: 60px;
        width: 60px;
        padding-top: 1rem;
    }

    #socials {
        font-size: 2rem;
    }
}

/* Responsive media query for screens 900px and above */
@media screen and (min-width:900px) {
    /* Max-width applied to the container for a better layout */
    #about-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #collected-words {
        font-size: 1.1rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 35px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }
}

/* Responsive media query for screens 1024px and above */
@media screen and (min-width:1024px) {
    #main-container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    #about-container {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    #words-title {
        margin-bottom: 18px;
        font-size: 2.2rem;
    }

    #title {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    #story-text {
        font-size: 1.3rem;
        padding: 0 30px;
    }

    #about-text {
        font-size: 1.1rem;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }

    button {
        font-size: 1.1rem;
    }
}

/* Responsive media queries for laptops 1200px and above */
@media screen and (min-width:1200px) {
    /* Max width applied to the main game story container for a better layout */
    #main-container {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }

    #about-container {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    #story-text {
        font-size: 1.4rem;
    }

    #about-text {
        font-size: 1.1rem;
    }

    #words-title {
        margin-bottom: 20px;
    }

    #collected-words {
        font-size: 1.3rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 45px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }
}

/* Responsive media queries for laptops 1400px and above */
@media screen and (min-width:1400px) {
    #main-container {
        max-width: 1350px;
        margin-left: auto;
        margin-right: auto;
    }

    #about-container {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        font-size: 1.3rem;
    }

    .navbar-brand h1 {
        font-size: 3.5rem;
    }

    .navbar-nav {
        width: 60%;
    }

    .nav-link {
        font-size: 1.5rem;
    }
    
    /* Max width applied to the story-image to stop it looking huge */
    #story-image {
        max-width: 800px;
    }
 /* Max width applied to the about-image to stop it looking huge */
    #about-image {
        max-width: 900px;
    }

    #title,
    #words-title {
        font-size: 3rem;
    }

    #title {
        margin-bottom: 8px;
    }

    #words-title {
        margin-bottom: 20px;
    }

    #about-title {
        margin-bottom: 10px;
    }

    #story-text {
        font-size: 1.5rem;
        padding: 0 30px;
    }

    #about-text {
        font-size: 1.3rem;
    }

    #story-text p {
        margin-bottom: 10px;
    }

    #get-puzzle {
        margin-top: 0;
    }

    .slot,
    .tile {
        margin: 10px;
        font-size: 2.2rem;
        height: 60px;
        padding: 8px;
    }

    #collected-words {
        font-size: 1.4rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 36px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }

    #socials {
        font-size: 2.2rem;
    }
}

/* Responsive media query for screens 1900px and up */
@media screen and (min-width:1900px) {
    button {
        font-size: 1.4rem;
    }

    #main-container {
        max-width: 1550px;
        margin-left: auto;
        margin-right: auto;
    }

    #about-container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    #story-image {
        max-width: 940px;
    }

    #about-image {
        max-width: 1000px;
    }

    #title {
        margin-bottom: 15px;
    }

    #title,
    #story-title {
        font-size: 3rem;
    }

    #story-text {
        font-size: 1.7rem;
        padding: 0 40px;
    }

    #story-text p {
        margin-bottom: 15px;
    }

    #about-text {
        font-size: 1.5rem;
    }

    #collected-words {
        font-size: 1.7rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 40px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }

    #socials {
        font-size: 2.5rem;
    }

    #footer-text {
        font-size: 1.6rem;
    }
}

/* Media query for screens sized 2650px and up */
@media screen and (min-width:2560px) {
    button {
        font-size: 2.4rem;
        margin: 25px 25px;
        padding: 15px;
    }

    /* Mark padding adjusted for the larger text */
    mark {
        padding: 0.6rem;
    }
/* mark-on padding adjusted for the larger text */
    .mark-on {
        padding: 0.6rem;
    }

    #main-container {
        max-width: 2400px;
        margin-left: auto;
        margin-right: auto;
    }

    #about-container {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-nav {
        width: 50%;
    }

    .navbar-brand h1 {
        font-size: 5.5rem;
    }


    .nav-link {
        font-size: 2.5rem;
    }

    #story-image,
    #about-image {
        max-width: 1500px;
    }

    #title,
    #words-title,
    #about-title {
        font-size: 4.6rem;
        margin-bottom: 25px;
        padding-top: 25px
    }

    #words-title {
        margin-bottom: 50px;
    }

    #story-text {
        font-size: 2.6rem;
    }

    #story-text p {
        margin-bottom: 30px;
    }

    #story-text p:last-child {
        margin-bottom: 30px;
    }

    #about-text {
        font-size: 2.4rem;
    }

    #puzzle-answer,
    #puzzle-question {
        margin-top: 40px;
    }

    #puzzle-question {
        margin-bottom: 60px;
    }

    .slot,
    .tile {
        margin: 20px;
        font-size: 3.8rem;
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    #buttons {
        padding: 25px;
    }

    #collected-words {
        font-size: 2.6rem;
    }

    #collected-words li:nth-child(even) {
        padding-bottom: 80px;
    }

    #collected-words li:last-child {
        padding-bottom: 0;
    }

    #socials {
        font-size: 3.9rem;
    }

    /* Padding added to center the socials list */
    #socials li {
        padding-top: 20px;
    }

    #footer-text {
        font-size: 1.9rem;
    }

    .fa-external-link {
        font-size: 1.5rem;
    }
}