
/* Google Font Import */

/* variables for website colours 
root: {
}
*/

/* Global styles */

header {
    border: solid 1px black;
}

footer {
    border: 1px solid black;
}

.navbar {
    background-color: aliceblue;
}


#lila-sad {
    width: 98%;
    height: 100%;
    padding-left: 0px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px grey;
    transition: transform .2s;
    background-color: white;
}

#lila-sad:hover {
    transform:scale(0.9);
    background-color: blue;
}

#chapter-img { 
    width: 98%;
    height: 100%;
    padding-right: 0;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px grey;
}

#story-text.chapter-intro {
    background-color: gray
}

#story-text.chapter-1 {
    background-color: pink;
}

#title {
    font-weight: bold;
}

#puzzle-area {
    display: flex;
    flex-direction: column;
}

#puzzle-question {
    height: 250px;
}

#puzzle-answer {
    height: 250px;
}

.slot {
    height: 50px;
    width: 50px;
    border: 1px solid red;
    display: inline-block;
    margin: 5rem 0.8rem;
}

.tile {
    height: 50px;
    width: 50px;
    background-color: blue;
    display: inline-block;
    margin: 5rem 0.8rem;
    padding: 0.8rem;
    font-weight: bold;
    color: white;
    text-align: center;
    align-items: center;

}

/* Responsive media queries for phones 320px and above */
@media screen and (min-width:320px) {
    #lila-sad {
        width: 40%;
        
    }

    #image-area .col {
        text-align: center;
    }
}

/* Responsive media queries for tablets 768px and above */
@media screen and (min-width:768px) {
    #lila-sad {
        width: 100%;
    }
}